.image-container {
    position: relative;
    height: 25vh; /* Ajustez la hauteur selon vos besoins */
    background: url('/assets/images/fond2.png') no-repeat center right;
    background-size: cover;
  }
  
  .overlay-text {
    position: absolute;
    top: 72%;
    margin-left: 15%;
    text-transform: uppercase;
    font-weight: bold;
    transform: translate(-50%, -50%);
    color: #fff; /* Couleur du texte */
    font-size: 2em; /* Taille du texte */
    text-align: center;
    width: 80%; /* Ajustez la largeur selon vos besoins */
  }
  